html, body {
    margin: 0 auto;
    padding: 0;
    max-width: 800px;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
}

header {
    border: 1px solid rgba(0,0,0,0.3);
    width: 100%;
    margin-top: 10px;
    background-color: rgba(0,0,0,0.1);
}

section > h1 {
    padding-left: 5px;
}

section {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.listContainer {
    display: flex;
    gap: 5px;
}

#expiration_date {
    width: 20%;
    text-align: center;
}

#todo_item {
    flex: 1;
}

aside  {
    margin-top: 10px;
}

table{
    width: 100%;
    border-bottom: 1px solid rgba(0,0,0,0.3);
}

th, td {
    text-align: left;
    border-top: 1px solid rgba(0,0,0,0.3);
}