html {
    border: 1px solid grey;
    margin: 50px auto;
    padding: 0;
    width: 1440px;
    box-sizing: border-box;
}

#slideshow {
    max-width: 600px;
    margin: auto;
    position: relative;
}

#slideshow img {
    width: 100%;
    display: none;
}

#slideshow img.active {
    display: block;
}

h2 {
    width: 100%;
    text-align: center;
}

div {
    width: 100%;
}