html, body {
    margin: 0;
    padding: 0;
}

.container {
    border: 1px solid red;
    width: 300px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    background-color: rgba(0, 0, 255, 0.8);
    color: white;
}