html, body {
    margin: 0;
    padding: 0;
}

body {
    border: 1px solid red;
    max-width: 800px;
    margin: 0 auto;
}

.listContainer {
    display: flex;
    gap: 5px;
    margin-top: -10px;
}

.listContainer #date {
    width: 20%;
    font-size: 14px;
}

.listContainer > #listName {
    flex: 1;
}